.about {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 5rem;

  padding: 120px 8%;
}

.about h2 {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  line-height: 1.2;
}

.about-right p {
  font-size: 1.1rem;
  color: #6b7280;
  line-height: 1.9;
  margin-bottom: 2rem;
}